
body{
background-image: url("../img/blur.png");
background-attachment: fixed;
background-size: cover;
background-position: center;

padding: 50px 10px 50px 10px;

width: 1050px;
margin-right:auto;
margin-left:auto;
}
.Header {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 45px;
padding-top: 0.6%;
padding-left: 23%;

background-color: #1d9bf0;
box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
font-family: 'Roboto', sans-serif;
  font-size: 2em;
  text-align: left;
  color: #fff;

}

img{
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.img2{
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.dekamoji{
    margin-top: 2em;
    margin-bottom: 2em;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    font-family: 'Dela Gothic One', cursive;
    font-size: 8em;
    color: rgb(220,220,220);
    text-align: center;
}
main{
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
font-family: 'M PLUS 1p', sans-serif;
padding: 3%;
color: rgb(32,32,32);
text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

p{
    font-size: 1.4em;
}

p2{
  font-size: 1.4em;
  text-align: right;
}

.pl{
  font-family: 'Dela Gothic One', cursive;
  font-size:7em;
  font-style: bold;
  color: #1d9bf0;
  text-shadow: 0px 0px 20px rgba(29,155,240,0.2);
  text-align: left;
}

.pr{
  font-family: 'Dela Gothic One', cursive;
  font-size:6em;
  font-style: bold;
  color: #1d9bf0;
  text-shadow: 0px 0px 20px rgba(29,155,240,0.2);
  text-align: right;
}

.pc{
  font-family: 'Dela Gothic One', cursive;
  font-size:7em;
  font-style: bold;
  color: #1d9bf0;
  text-shadow: 0px 0px 20px rgba(29,155,240,0.2);
  text-align: center;
}

a {
    color: rgb(29, 155, 240);
    font-size: 1.4em;
    text-decoration: none;
  }

.appver{
    margin-top: 16px;
    font-family: 'M PLUS 1p', sans-serif;
    font-style: italic;
    text-align: center;
    color: #1d9bf0;
    font-size: 1.6em;
    margin-bottom: 1em;
}

.foo{
    font-family: 'M PLUS 1p', sans-serif;
    font-style: italic;
    text-align: center;
    color: rgb(245,31,117);
    font-size: 1.2em;
    top:4em;
}

table{
    width: 100%;
    border-collapse: collapse;
  }
  
  table tr *:nth-child(1){
    background: #1d9bf0;
  }
  
  table tr *:nth-child(2){
    background: #1369a3;
  }
  
  table tr *:nth-child(3){
    background: #0a3756;
  }
  
  table th,table td{
    color:white;
    border:solid 1px white;
    text-align: center;
    padding: 10px 0;
  }
  

  a.btn_23 {
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(29,155,240,0.2);
    width: 200px;
    margin: auto;
    padding: 1rem 4rem;
    font-weight: bold;
    border: 2px solid #1d9bf0;
    color: #1d9bf0;
    cursor: pointer;
    position: relative;
     overflow: hidden;
     z-index: 1;
  }
  a.btn_23::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1d9bf0;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
  }
  a.btn_23:hover::before {
    transform: translateX(0);
  }
  a.btn_23:hover {
    color: #fff;
  }

  
  a.btn_24 {
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(29,155,240,0.2);
    width: 200px;
    margin: auto;
    padding: 1rem 4rem;
    font-weight: bold;
    border: 2px solid #1369a3;
    color: #1369a3;
    cursor: pointer;
    position: relative;
     overflow: hidden;
     z-index: 1;
  }
  a.btn_24::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1369a3;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
  }
  a.btn_24:hover::before {
    transform: translateX(0);
  }
  a.btn_24:hover {
    color: #fff;
  }