::selection {
  background: rgb(255, 101, 157);
  color: rgb(255,255,255);
}
#header{
  height: 40px;
  width:auto;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  background:rgb(255,255,255);
  color:rgb(245, 31, 117);
  text-align: center;
  padding: 20px;
  box-shadow: 0 0px 25px 0 rgba(0, 0, 0, .1);
  border-radius: 10px 10px 10px 10px;
}

h1{
  color:rgb(245, 31, 117);
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 240%;
  text-decoration: none;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li a{
  display: block;
  text-decoration: none;
  color: rgb(255,68,68);
  font-size: 180%;
  padding:10px;
}


body{
font-family: 'Mochiy Pop One', sans-serif;
background-color: rgb(245, 31, 117);
}

.area {
  margin-top:3%;
  margin-left:18%;
  margin-right:18%;
  margin-bottom:3%;
  width: auto;
  padding: 10px;
  background-color: rgb(255,255,255);
  overflow: hidden;
  box-shadow: 0 0px 25px 0 rgba(0, 0, 0, .1);
  border-radius: 10px 10px 10px 10px;
}
.sukima{
  margin-top:100px;
  
}
.badch-w{
  display:inline-block;
  margin: 10px -5px 10px 10px;
  background-color: rgb(30,144,255);
  padding: 5px 10px;
  font-family: 'M PLUS 1 Code', sans-serif;
  text-align: center;
  color:rgb(255,255,255);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}
.badch-l{
  display:inline-block;
  margin: 10px -5px 10px 10px;
  background-color: rgb(248,180,0);
  padding: 5px 10px;
  font-family: 'M PLUS 1 Code', sans-serif;
  text-align: center;
  color:rgb(255,255,255);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}
.badch-m{
  display:inline-block;
  margin: 10px -5px 10px 10px;
  background-color: rgb(	220,20,60);
  padding: 5px 10px;
  font-family: 'M PLUS 1 Code', sans-serif;
  text-align: center;
  color:rgb(255,255,255);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}
.badch-v{
  display:inline-block;
  margin: 10px -5px 10px 10px;
  background-color: rgb(38, 41, 80);
  padding: 5px 10px;
  font-family: 'M PLUS 1 Code', sans-serif;
  text-align: center;
  color:rgb(255,255,255);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}
.badch-h{
  display:inline-block;
  margin: 10px -5px 10px 10px;
  background-color: rgb(45, 170, 149);
  padding: 5px 10px;
  font-family: 'M PLUS 1 Code', sans-serif;
  text-align: center;
  color:rgb(255,255,255);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}
.badch-a{
  display:inline-block;
  margin: 10px -5px 10px 10px;
  background-color: rgb(0, 255, 136);
  padding: 5px 10px;
  font-family: 'M PLUS 1 Code', sans-serif;
  text-align: center;
  color:rgb(255,255,255);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}
.badch-s{
  display:inline-block;
  margin: 10px -5px 10px 10px;
  background-color: rgb(99, 45, 170);
  padding: 5px 10px;
  font-family: 'M PLUS 1 Code', sans-serif;
  text-align: center;
  color:rgb(255,255,255);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}
.badch-i{
  display:inline-block;
  margin: 10px -5px 10px 10px;
  background-color: rgb(32,32,32);
  padding: 5px 10px;
  font-family: 'M PLUS 1 Code', sans-serif;
  text-align: center;
  color:rgb(255,255,255);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}
p3{
  margin-left: 10px;
  font-family: 'Mochiy Pop One', sans-serif;
  color:rgb(245, 31, 117);
  text-align:left;
  font-size: 300%;
}
.mmain{
  line-height: 10px;
  font-weight: lighter;
  margin-left: 10px;
  margin-right: auto;
  font-family: 'Noto Sans JP', sans-serif;
  color:rgb(64,64,64);
  text-align:left;
  font-size: 5mm;
}
img{
  margin-left: 2%;
  margin-right: auto; 
  display: block;
  width: 95%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}
.date{
  line-height: 5px;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  color:rgb(100,100,100);
  text-align:left;
  font-size: 5mm;
}

.sitasen a{
  color: rgb(220,220,220);
  text-decoration: none;
}

.notsita{
  color:rgb(245, 31, 117);
  text-decoration: none;
}

.fter{
  margin-bottom: -10px;
  width: auto;
  height: auto;

  background-color: rgb(255,255,255);
  color:rgb(245, 31, 117);
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 22px;
  text-align: left;
  padding-left: 10px;
  box-shadow: 0 0px 25px 0 rgba(0, 0, 0, .1);
  border-radius: 10px 10px 10px 10px;
  
}

@media screen and (max-width: 1200px) {
  .area {
    margin-top:3%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3%;
    width: auto;
    padding: 10px;
    background-color: rgb(255,255,255);
    overflow: hidden;
    box-shadow: 0 0px 25px 0 rgba(0, 0, 0, .1);
    border-radius: 10px 10px 10px 10px;
  }
  p3{
    margin-left: 10px;
    font-family: 'Mochiy Pop One', sans-serif;
    color:rgb(245, 31, 117);
    text-align:left;
    font-size: 300%;
  }
  .mmain{
    line-height: 15px;
    margin-left: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    color:rgb(64,64,64);
    text-align:left;
    font-size: 4mm;
  }
  
  .date{
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    color:rgb(100,100,100);
    text-align:left;
    font-size: 5mm;
  }
  .badch-w{
    display:inline-block;
    margin: 10px -5px 10px 10px;
    background-color: rgb(30,144,255);
    padding: 5px 10px;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 34px;
    text-align: center;
    color:rgb(255,255,255);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  }
  .badch-l{
    display:inline-block;
    margin: 10px -5px 10px 10px;
    background-color: rgb(248,180,0);
    padding: 5px 10px;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 34px;
    text-align: center;
    color:rgb(255,255,255);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  }
  .badch-m{
    display:inline-block;
    margin: 10px -5px 10px 10px;
    background-color: rgb(	220,20,60);
    padding: 5px 10px;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 34px;
    text-align: center;
    color:rgb(255,255,255);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  }
  .badch-v{
    display:inline-block;
    margin: 10px -5px 10px 10px;
    background-color: rgb(38, 41, 80);
    padding: 5px 10px;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 34px;
    text-align: center;
    color:rgb(255,255,255);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  }
  .badch-h{
    display:inline-block;
    margin: 10px -5px 10px 10px;
    background-color: rgb(45, 170, 149);
    padding: 5px 10px;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 34px;
    text-align: center;
    color:rgb(255,255,255);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  }
  .badch-a{
    display:inline-block;
    margin: 10px -5px 10px 10px;
    background-color: rgb(0, 255, 136);
    padding: 5px 10px;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 34px;
    text-align: center;
    color:rgb(255,255,255);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  }
  .badch-s{
    display:inline-block;
    margin: 10px -5px 10px 10px;
    background-color: rgb(99, 45, 170);
    padding: 5px 10px;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 34px;
    text-align: center;
    color:rgb(255,255,255);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  }
  .badch-i{
    display:inline-block;
    margin: 10px -5px 10px 10px;
    background-color: rgb(32,32,32);
    padding: 5px 10px;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 34px;
    text-align: center;
    color:rgb(255,255,255);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  }
  img{
    margin-left: 2%;
    margin-right: auto; 
    display: block;
    width: 95%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
  }
}

@media (prefers-color-scheme: dark) {

  #header{
    height: 40px;
    width:auto;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    background:rgb(32,32,32);
    color:rgb(255,255,255);
    text-align: center;
    padding: 20px;
    box-shadow: 0 0px 25px 0 rgba(0, 0, 0, .1);
    border-radius: 10px 10px 10px 10px;
  }
  
  h1{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 240%;
  }
  
  h2{
    margin-top: 10px;
    font-size: 200%;
  }
  
  .sitasen a{
    color: rgb(230,230,230);
    text-decoration: none;
  }
  
  nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li a{
    display: block;
    text-decoration: none;
    color: rgb(255,68,68);
    font-size: 180%;
    padding:10px;
  }
  
  
  body{
  font-family: 'Mochiy Pop One', sans-serif;
    background-size: cover;
  background-attachment: fixed;
    background-image:url("back2.png");
    scroll-behavior: smooth;
  }
  
  p3{
    margin-left: 10px;
    font-family: 'Mochiy Pop One', sans-serif;
    color:rgb(245, 31, 117);
    text-align:left;
    font-size: 300%;
  }
  .mmain{
    font-weight: lighter;
    margin-left: 10px;
    margin-right: auto;
    font-family: 'Noto Sans JP', sans-serif;
    color:rgb(255,255,255);
    text-align:left;
    font-size: 5mm;
  }
  
  .date{
    line-height: 5px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    color:rgb(200,200,200);
    text-align:left;
    font-size: 5mm;
  }

  .bobby{
    font-family: 'M PLUS 1p', sans-serif;
    font-style:inherit;
    color:rgb(255,255,255);
    text-align:center;
    height:center;
    line-height:600%;
    text-shadow: 0 0 5px rgba(0, 0, 0, .1);
    padding:100px 0;
    font-size: 700%;
  }
  
  .area {
    width: auto;
    height: auto;
    padding: 50px;
    background-color: rgb(32,32,32);
    overflow: hidden;
    box-shadow: 0 0px 25px 0 rgba(0, 0, 0, .1);
    border-radius: 10px 10px 10px 10px;
  }
  .sukima{
    margin-top:100px;
  }
  
  body {
    background-color: #e1e1e1;
  }
  
  #cards {
    position: relative;
    display: flex;
    -ms-flex-pack: justify;
    margin: 0% auto;
    max-width: 960px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  
  a.cards-link {
    text-decoration: none;
  }
  
  #cards img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
  }
  
  .cards-figure {
    margin: 0;
    padding: 0;
  }
  
  .cards-title {
    font-style: normal;
    font-family: 'M PLUS 1p', sans-serif;
    color: rgb(245,31,117);
    text-align: center;
    font-size: 1.8em;
  }
  
  .cards-text-tax {
    margin: auto;
    font-family: 'Mochiy Pop One', sans-serif;
    padding-bottom: 20px;
    font-size: 5mm;
    color: rgb(230,230,230);
  }
  
  .cards-list {
    margin: 0.5em auto;
    padding: 0;
    width: 96%;
    background: rgb(64,64,64);
    box-shadow: 0 0px 25px 0 rgba(0, 0, 0, .1);
    border-radius: 10px 10px 10px 10px;
  }
  
  .cards-list {
    width: calc(96% / 2);
  }
  
  .notsita{
    color:rgb(255,255,255);
    text-decoration: none;
  }
  
  .fter{
    margin-top: -10px;
    margin-bottom: -10px;
    width: auto;
    height: auto;
  
    background-color: rgb(32,32,32);
    color:rgb(245, 31, 117);
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 22px;
    text-align: left;
    padding-left: 10px;
    box-shadow: 0 0px 25px 0 rgba(0, 0, 0, .1);
    border-radius: 10px 10px 10px 10px;
  }
  }