::selection {
  background: rgb(255, 101, 157);
  color: rgb(255,255,255);
}
.OMG{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: rgb(255,68,68);
  border-radius: 16px;
  font-family: 'M PLUS 1p', sans-serif;
  color:#ffffff;
  font-size: 2em;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0 0px 25px 0 rgba(0, 0, 0, .1);
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  padding: 10px;
  background-color: rgb(255,255,255);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 2em;
  text-align: center;
  color: rgb(245, 31, 117);
  text-decoration: none;
  }

h2{
  margin-top: 10px;
  font-size: 200%;
}

.sitasen a{
  color: rgb(64,64,64);
  text-decoration: none;
}

p{
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 1.8em;
  text-align: center;
  color: rgb(32,32,32);
  text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  text-decoration: none;
}


body{
font-family: 'Mochiy Pop One', sans-serif;
  background-size: cover;
background-attachment: fixed;
  background-image:url("../img/saikoro.png");
  scroll-behavior: smooth;
}

h2{
  font-size: 5em;
  font-family: 'Mochiy Pop One', sans-serif;
  color:rgb(32,32,32);
  text-shadow: 0 0 5px rgba(0, 0, 0, .1);
  text-align:center;
}

.sukima{
  margin-top:100px;
}

body {
  background-color: #e1e1e1;
}

.fter{
  margin-top: -10px;
  margin-bottom: -10px;
  width: auto;
  height: auto;

  background-color: rgb(255,255,255);
  color:rgb(245, 31, 117);
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 22px;
  text-align: left;
  padding-left: 10px;
  box-shadow: 0 0px 25px 0 rgba(0, 0, 0, .1);
  border-radius: 10px 10px 10px 10px;
}

.notsita{
  color:rgb(245, 31, 117);
  text-decoration: none;
}

.hyouji{
  box-shadow: 0 0px 25px 0 rgba(0, 0, 0, .3);
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  background-color: #fff;
  padding: 10px;
  border-radius: 16px;
  font-family: 'M PLUS 1p';
  color:rgb(32,32,32);
  margin-top: 10px;
  font-size: 5em;
  text-align: center;
  text-shadow: 0 0px 25px 0 rgba(0, 0, 0, .1);
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Mochiy Pop One', sans-serif;
  color: #ecf0f1;
  font-size: 17px;
  background-color: #e67e22;
  border: 1px solid #f39c12;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 6px 0px #d35400;
  transition: all .1s;
 }
 
 .button:active {
  box-shadow: 0px 2px 0px #d35400;
  position: relative;
  top: 2px;
 }

 main{
  display: block;
 }

@media screen and (max-width: 1024px) {

  h2{
    font-size: 7em;
    font-family: 'Mochiy Pop One', sans-serif;
    color:rgb(32,32,32);
    text-shadow: 0 0 5px rgba(0, 0, 0, .1);
    text-align:center;
  }

  p{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 3em;
    text-align: center;
    color: rgb(32,32,32);
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    text-decoration: none;
  }

  .hyouji{
    box-shadow: 0 0px 25px 0 rgba(0, 0, 0, .1);
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 16px;
    font-family: 'M PLUS 1p';
    color:rgb(32,32,32);
    margin-top: 10px;
    font-size: 8em;
    text-align: center;
    text-shadow: 0 0px 25px 0 rgba(0, 0, 0, .1);
  }
  
  .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #ecf0f1;
    font-size: 5em;
    background-color: #e67e22;
    border: 1px solid #f39c12;
    border-radius: 16px;
    padding: 100px;
    box-shadow: 0px 16px 0px #d35400;
    transition: all .1s;
   }
   
   .button:active {
    box-shadow: 0px 2px 0px #d35400;
    position: relative;
    top: 2px;
   }

    .fter{
      margin-top: -10px;
      margin-bottom: -10px;
      width: auto;
      height: auto;
    
      background-color: rgb(255,255,255);
      color:rgb(245, 31, 117);
      font-family: 'M PLUS 1p', sans-serif;
      font-size: 3em;
      text-align: center;
      padding-left: 10px;
      box-shadow: 0 0px 25px 0 rgba(0, 0, 0, .1);
      border-radius: 10px 10px 10px 10px;
    }

  }