
body{
  background-color:#fbfbfd;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  margin-right:auto;
  margin-left:auto;
  }
  .Header {
    z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  padding-top: 0.0%;
  padding-bottom: 0.42%;
  padding-left: 1%;
  
  background-color: #252525;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 2.6em;
  text-align: left;
  color: #fff;
  
  }
  img{
    width: 470px;
    margin-left: 0px;
    margin-right: auto;
    margin-top: -200px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .minimoji{
    z-index: -2;
      margin-top: 11em;
      text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
      font-family: 'Be Vietnam Pro', sans-serif;
      font-size: 2em;
      color: rgb(255,68,68);
      text-align: center;
  }
  .dekamoji{
    z-index: -1;
      margin-bottom: 7em;
      text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
      font-family: 'Zen Maru Gothic', sans-serif;
      font-size: 4em;
      color: #252525;
      text-align: center;
  }

  .dekamoji img{
    z-index: -3;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }

  .oops{
    background-color: var(--color-yellow-10);
    margin-left:5%;
    margin-right:5%;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .oops h1{
    font-size: 3em;
    margin-left: 15%;
    color:var(--color-text-high-emphasis);
    font-family: 'Be Vietnam Pro', sans-serif;
  }

  .oops h2{
    font-size: 2em;
    margin-left: 15%;
    color:var(--color-text-high-emphasis);
    font-family: 'Be Vietnam Pro', sans-serif;
  }

  .oops p{
    font-size: 1.6em;
    margin-left: 15%;
    color:var(--color-text-high-emphasis);
    font-family: 'Zen Maru Gothic', sans-serif;
  }
   
  main{
    background-color: #252525;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  main h1{
    font-size: 3em;
    margin-left: 15%;
    color:#fff;
    font-family: 'Be Vietnam Pro', sans-serif;
  }

  main h2{
    font-size: 2em;
    margin-left: 15%;
    color:#fff;
    font-family: 'Be Vietnam Pro', sans-serif;
  }

  main p{
    font-size: 1.6em;
    margin-left: 15%;
    color:#fff;
    font-family: 'Zen Maru Gothic', sans-serif;
  }

  .date{
    font-size: 1.6em;
    margin-top: -60px;
    margin-right: 15%;
    text-align: right;
    color:#fff;
    font-family: 'Zen Maru Gothic', sans-serif;
  }

  .main2{
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .main2 h1{
    font-size: 3em;
    margin-left: 15%;
    color:#252525;
    font-family: 'Be Vietnam Pro', sans-serif;
  }

  .main2 h2{
    margin-top: -20px;
    margin-bottom: -20px;
    font-size: 4em;
    margin-left: 15%;
    color:#252525;
    font-family: 'Be Vietnam Pro', sans-serif;
  }

  .main2 p{
    font-size: 1.6em;
    margin-left: 15%;
    color:#252525;
    font-family: 'Zen Maru Gothic', sans-serif;
  }

  a{
      color: rgb(29, 155, 240);
      text-decoration: none;
    }
  
  .foo{
    margin-left: 15%;
    margin-top: 160px;
    font-family: 'Zen Maru Gothic', sans-serif;
      font-style: italic;
      text-align: left;
      color: rgb(245,31,117);
      font-size: 1.2em;
  }

