::selection {
    background: rgb(255, 100, 150);
    color: rgb(255,255,255);
}
hr{
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    border-bottom: 1.6px solid #9a9a9a;
}

ul{
    position: fixed;
}
li{
    margin-left: 12px;
    list-style-type: none;
}

li::before {
    position: relative;
    top: -2px;
    left: -18px;
    display: inline-block;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 100%;
    background: #F51F75;
}
li span {
    color: #161616;
}

body {
    font-family: "MS PGothic", sans-serif;
    margin: 0px;
}
.contaner {
    display: flex;
    width: 100%;
    height: 100vh;
}
.sidebar {
    height: 100%;
    width: 18%;
    border-right: solid 4px #d0d0d0; 
}
.sidebar_on{
    overflow-wrap: normal;
    display: inline-block;
    height: 100%;
    width: calc(100% - 1px);
    background-color: #F0F0FF;
    border-right: solid 1px #aaaaaa; 
}
.sidebar_on li{
    margin-top: 2em;
    margin-bottom: 2em;
}
.sidebar_on p{
    margin-top: 3em;
}
.body {
    border-left: solid 1px #000; 
    background-image: url("../img/aboutmeback.png");
    width: 82%;
}

.main{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.main p{
    color:#161616;
    font-size: 1em;
    text-align: center;
}

.lp p{
    color:#161616;
    font-size: 1em;
    text-align: left;
}
.cp p{
    color:#161616;
    font-size: 1em;
    text-align: center;
}

.kokoleft{
    margin: 10px;
    width: 350px;
}
.kokoright{
    margin: 10px;
    width: 550px;
}
.text{
    margin: 10px;
    width: 100%;
}
h1{
    color:#161616;
    font-size: 2em;
    text-align: center;
}
.backh1{
    color:rgb(255, 230, 240);
}

img{
    width: 350px;
    height: 415px;
    object-fit: cover;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.banner{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
}
.banner img{
    margin-left: auto;
    margin-right: auto;
    width: 88px;
    height: 31px;
    border: none;
}
.center{
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
textarea{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: auto;
}

@media screen and (max-width:1120px) {
    ul{
        position: relative;
    }
    .body {
        border-left: none;
        background-image: url("../img/aboutmeback.png");
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .sidebar_on{
        border-right: none;
    }
    .sidebar {
        height: fit-content;
        width: 100%;
        background-color: #F0F0FF;
        display: flex;
        border-right:none;
        border-bottom: solid 1px #000;    	/* 内側の線になる一本線の枠線をひく*/
    }
    .sidebar li{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .sidebar p{
        margin-top: 3em;
    }
    .sidebar ul{
        display: flex;
    }

    li{
        margin-left :16px;
        margin-right:16px;
        list-style-type: none;
    }

    li::before {
        position: relative;
        top: -2px;
        left: -9px;
        display: inline-block;
        width: 10px;
        height: 10px;
        content: '';
        border-radius: 100%;
        background: #F51F75;
    }

    .contaner {
        display: block;
        width: 100%;
        height: fit-content;
    }
    .main{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .kokoleft{
        margin: 10px;
        width: 100%;
    }
    .kokoright{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    img{
        width: 95%;
        height: 95%;
        object-fit: cover;
    }

    h1{
        color:#161616;
        font-size: 1.8em;
        text-align: center;
    }

    .main p{
        word-wrap: break-word;
        color:#161616;
        font-size: 1em;
        text-align: center;
    }
    .lp p{
        word-wrap: break-word;
        color:#161616;
        font-size: 1em;
        text-align: left;
        margin-right: 12px;
    }
    .cp{
        margin-right: 12px;
    }
}
@media (prefers-color-scheme: dark) {
    .contaner {
        background-color: #000;
        min-height: 100vh;
    }
    .body {
        background-image: none;
        background-color: #000;
    } 
    .main p{
        color:#FFF;
    }
    .lp p{
        color:#FFF;
    }
    .cp p{
        color:#FFF;
    }
    h1{
        color:#FFF;
        animation: ChikaChika 3s infinite alternate;
    }
    @keyframes ChikaChika {
        1%,3%,5%,7%,9%,11%,13%,15%,17%,19%,21%,23%,25%{
            color: #FFF;
        }
        0%,2%,4%,6%,8%,10%,12%,14%,16%,18%,20%,22%,24%{
            color: #CCC;
        }
        0%, 20%, 24%, 30%, 32%, 50%, 52%, 100% {
            text-shadow:
            0 0 7px #F51F75,
            0 0 10px #F51F75,
            0 0 21px #F51F75,
            0 0 42px #F51F75,
            0 0 82px #F51F75,
            0 0 92px #F51F75,
            0 0 102px #F51F75,
            0 0 151px #F51F75;
        }
        22%, 31%, 51% {
            text-shadow: none;
        }
    }
    .sidebar_on{
        width: calc(100% - 1px);
        background: linear-gradient(45deg, #0e0e0e 25%, transparent 25%, transparent 75%, #0e0e0e 75%), linear-gradient(45deg, #0e0e0e 25%, transparent 25%, transparent 75%, #0e0e0e 75%);
        background-color: #000;
        background-size: 20px 20px;
        background-position: 0 0, 10px 10px;
    }
    a{
        color:#F51F75;
        font-weight: bold;
    }
    img{
        border: solid 1px #F51F75;
    }
}