body{
  background-color:#ffffff;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  
  padding: 50px 10px 50px 10px;
  
  width: 984px;
  margin-right:auto;
  margin-left:auto;
  }
  .Header {
    z-index: 1;
  position: fixed;
  animation: slideInY 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  padding-top: 0.0%;
  padding-bottom: 0.2%;
  padding-left: 23%;
  
  background-color: #1d9bf0;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  font-family: 'Jost', sans-serif;
  font-size: 2em;
  text-align: left;
  color: #fff;
  
  }
  
  img{
    width: 984px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .dekamoji{
    z-index: -1;
      animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
      margin-top: 1.9em;
      margin-bottom: 2em;
      text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
      font-family: 'Kosugi Maru', sans-serif;
      font-size: 10em;
      color: #1d9bf0;
      text-align: center;
  }
   
  @keyframes slideIn {
    0% {
      transform: translateX(180px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
    }
    40%,100% {
      opacity: 1;
    }
  }
  
  @keyframes slideInY {
    0% {
      transform: translateY(-64px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
    }
    40%,100% {
      opacity: 1;
    }
  }
  
  
  p{
      font-size: 1.4em;
  }
  
  .p2{
    margin: 20px 0;
    font-size: 3em;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align:center;
    font-weight:bold;
    color: #1d9bf0;
  }
  
  .p3{
    margin: 20px 0;
    font-size: 12em;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align:center;
    color:#1d9bf0;
  }
  .p4{
    margin: 20px 0;
    font-size: 1.6em;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align:right;
    font-weight:bold;
    color: #555450;
  }
  .p5{
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align:right;
    font-weight:bold;
    color: rgb(255,68,68);
  }
  .p6{
    margin: 20px 0;
    font-size: 3em;
    font-family: 'Jost', sans-serif;
    text-align:center;
    font-weight:bold;
    color: #555450;
  }
  .p7{
    margin: 20px 0;
    font-size: 2.6em;
    font-family: 'Jost', sans-serif;
    text-align:left;
    font-weight:bold;
    color: #1d9bf0;
  }
  .p8{
    margin: 20px 0;
    font-size: 1.6em;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align:left;
    font-weight:bold;
    color: #555450;
  }
  
  a{
      color: #1d9bf0;
      text-decoration: none;
    }
  
  .foo{
    margin-top: 160px;
    font-family: 'Jost', sans-serif;
      font-style: italic;
      text-align: left;
      color: rgb(245,31,117);
      font-size: 1.2em;
  }
  
  .dlw{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 422px;
    background-color: #eee;
    border-radius: 25px;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.1);
  font-family: 'Jost', sans-serif;
  padding: 3%;
  color: #555450;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .dlw p{
    margin: 10px 0;
    font-size: 1.6em;
    font-family: 'Jost', sans-serif;
    text-align:center;
    font-weight:bold;
    color: #555450;
  }
  
  .dlbutton a{
    font-family: 'Jost', sans-serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
    width: 160px;
    height: 26px;
    background-color: #1d9bf0;
    border-radius: 25px;
    color:#ffffff;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.1);
  }

  .dlw .chrome_web_store{
    text-align: center;
  }
  .dlw .chrome_web_store img{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #FFF;
    border-radius: 8px;
  }
  
  @media screen and (max-width: 1080px) {
  
    
    body{
      background-color:#ffffff;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      overflow-wrap: break-word;
      
      width: auto;
      margin-right:16px;
      margin-left: 16px;
    }
    .Header {
      z-index: 1;
      position: fixed;
      animation: slideInY 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
      
      top: 0;
      left: 0;
      width: 100%;
      height: 48px;
      padding-top: 1.6%;
      padding-bottom: 0.2%;
      padding-left: 4.2%;
      
      background-color: #1d9bf0;
      box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
      font-family: 'Jost', sans-serif;
      font-size: 2.0em;
      text-align: left;
      color: #fff;
    
    }
    
    img{
      width: auto;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 25px;
    }

    
  .dekamoji{
    z-index: -1;
      animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
      margin-top: 3em;
      margin-bottom: 3em;
      text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
      font-family: 'Kosugi Maru', sans-serif;
      font-size: 6em;
      color: #1d9bf0;
      text-align: center;
  }
   
  @keyframes slideIn {
    0% {
      transform: translateY(-180px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
    }
    40%,100% {
      opacity: 1;
    }
  }
  
  @keyframes slideInY {
    0% {
      transform: translateY(-64px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
    }
    40%,100% {
      opacity: 1;
    }
  }
  
  
  p{
      font-size: 1.4em;
  }
  
  .p2{
    margin: 20px 0;
    font-size: 1.6em;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align:center;
    font-weight:normal;
    color: #1d9bf0;
  }
  
  .p3{
    margin: 20px 0;
    font-size: 3.5em;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: bold;
    text-align:center;
    color:#1d9bf0;
  }
  .p4{
    margin: 20px 0;
    font-size: 1.2em;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align:center;
    font-weight:bold;
    color: #555450;
  }
  .p5{
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align:right;
    font-weight:bold;
    color: rgb(255,68,68);
  }
  .p6{
    margin: 20px 0;
    font-size: 3em;
    font-family: 'Jost', sans-serif;
    text-align:center;
    font-weight:bold;
    color: #555450;
  }
  .p7{
    margin: 20px 0;
    font-size: 2em;
    font-family: 'Jost', sans-serif;
    text-align:left;
    font-weight:bold;
    color: #1d9bf0;
  }
  .p8{
    margin: 20px 0;
    font-size: 1.2em;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align:left;
    font-weight:bold;
    color: #555450;
  }

  .chui{
    width: auto;
    margin: 0px 0;
    background-color: #fdf9e2;
    border:solid 1px #f7a535;
    padding: 20px;
    border-radius: 30px;
  }
  .chui h1{
    margin: 0px 0;
    font-size: 1.8em;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align:left;
    font-weight:bold;
    color: #252525;
  }
  .chui p{
    margin: 0px 0;
    font-size: 1.2em;
    font-family: 'Zen Maru Gothic', sans-serif;
    text-align:left;
    font-weight:normal;
    color: #555450;
  }
  
  a{
      color: #1d9bf0;
      text-decoration: none;
    }
  
  .foo{
    margin-top: 190px;
    font-family: 'Jost', sans-serif;
      font-style: italic;
      text-align: left;
      color: rgb(245,31,117);
      font-size: 1.2em;
  }
  
  .dlw{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width:auto;
    background-color: #eee;
    border-radius: 25px;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.1);
  font-family: 'Jost', sans-serif;
  padding: 3%;
  color: #555450;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .dlw p{
    margin: 10px 0;
    font-size: 1.6em;
    font-family: 'Jost', sans-serif;
    text-align:center;
    font-weight:bold;
    color: #555450;
  }
  
  .dlbutton a{
    font-family: 'Jost', sans-serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
    width: 160px;
    height: 46px;
    background-color: #1d9bf0;
    border-radius: 35px;
    color:#ffffff;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.1);
  }
  
  }
