
body{

background-image: url("../img/home.png");
background-attachment: fixed;
background-size: cover;
background-position: center;

padding: 50px 10px 50px 10px;

width: 1050px;
margin-right:auto;
margin-left:auto;
}
.Header {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 45px;
padding: 10px;
background-color: rgb(16,16,16);
box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
font-family: 'Dela Gothic One', cursive;
font-size: 2em;
text-align: center;
color: rgb(220,220,220);
}
.dekamoji{
    margin-top: 2em;
    margin-bottom: 2em;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    font-family: 'Dela Gothic One', cursive;
    font-size: 8em;
    color: rgb(220,220,220);
    text-align: center;
}
main{
font-family: 'M PLUS 1p', sans-serif;
color: rgb(220,220,220);
text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
p{
    font-size: 1.4em;
}

a {
    color: rgb(29, 155, 240);
    font-size: 1.4em;
    text-decoration: none;
  }

.appver{
    font-family: 'M PLUS 1p', sans-serif;
    font-style: italic;
    text-align: center;
    color: rgb(220,220,220);
    font-size: 1.6em;
    margin-bottom: 1em;
}

.foo{
    font-family: 'M PLUS 1p', sans-serif;
    font-style: italic;
    text-align: center;
    color: rgb(220,220,220);
    font-size: 1.2em;
    top:4em;
}

table{
    width: 100%;
    border-collapse: collapse;
  }
  
  table tr *:nth-child(1){
    background: rgb(16,16,16);
  }
  
  table tr *:nth-child(2){
    background: rgb(32,32,32);
  }
  
  table tr *:nth-child(3){
    background: rgb(64,64,64);
  }
  
  table th,table td{
    color:white;
    border:solid 1px white;
    text-align: center;
    padding: 10px 0;
  }
  


  section {
    max-width: 300px;
    margin: 0 auto;
  }
  a.btn_06-2 {
    display: block;
    color: rgb(16,16,16);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none;
    text-align: center;
    padding: 1.3em .5em;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    border-radius: 6px;
    box-sizing: border-box;
    max-width: 360px;
    margin: 0 auto;
    position: relative;
  }
  a.btn_06-2 span {
    position: relative;
    display: block;
    transform: translate(-3px, -3px);
    transition: 0.3s;
    z-index: +1;
  }
  a.btn_06-2:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgb(220,220,220);
    border-radius: 6px;
    box-sizing: border-box;
    transform: translate(-3px, -3px);
    transition: 0.3s;
  }
  a.btn_06-2:hover span {
    transform: translate(0, 0);
  }
  a.btn_06-2:hover:after {
    transform: translate(0, 0);
  }
  @media all and (max-width: 1023px) {
    a.btn_06-2 {
      font-size: 18px;
    }
  }
  @media all and (max-width: 767px) {
    a.btn_06-2 {
      font-size: 16px;
    }
  }



@media screen and (max-width:480px) {

    body{

        background-image: url("../img/home.png");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        
        padding: 50px 10px 50px 10px;

        width: auto;
        }
        .dekamoji{
            margin-top: 2em;
            margin-bottom: 2em;
            text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            font-family: 'Dela Gothic One', cursive;
            font-size: 3em;
            color: rgb(220,220,220);
            text-align: center;
        }

        p{
            font-size: 1em;
        }

        h1{
            font-size: 1.6em;
        }
}